/* index */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bellefair&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  color: white;
  place-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 20px 90px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 4.75px;
}
.line {
  position: absolute;
  width: 25em;
  margin-left: 90px;
  height: 1px;
  background-color: #d0d6f9;

  opacity: 0.6;
  z-index: 1;
}
.logo img {
  margin-right: 300px;
}
.navbar {
  display: flex;
  margin: 0 30px;
  background-color: rgba(166, 166, 166, 0.2);
  padding: 30px 90px;

  backdrop-filter: blur(10px);
}

ul {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}
li {
  margin: 0 20px;
}
.number {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
  position: relative;
}

.menuLink:hover::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  height: 3px;
  bottom: -29px;
  left: 0;
  opacity: 0.5;
}
.menuLink.active::before {
  opacity: 1;
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  height: 3px;
  bottom: -29px;
  left: 0;
}

main {
  display: flex;
  position: relative;
  margin: 0 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.first-heading {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  color: #d0d6f9;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.main-heading {
  font-family: "Bellefair", serif;
  font-size: 128px;
  text-transform: uppercase;
}

#paragraph {
  font-family: "Bellefair", serif;
  color: #d0d6f9;
  line-height: 30px;
  padding-right: 820px;
  /* width: 200px; */
}
.explore {
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  right: 0;
  padding: 100px 70px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  -webkit-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}
.explore:hover {
  box-shadow: 0px 0px 2px 39px #88888864;
}

/* menu */

.openMenu,
.closeMenu {
  display: none;
}
@media (max-width: 768px) {
  body {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
  .line {
    display: none;
  }
  .openMenu,
  .closeMenu {
    display: none;
  }
  .logo img {
    margin-right: 230px;
  }
  main {
    display: block;
    position: relative;
    margin: 50px 10px;
    flex-direction: row;

    text-align: center;
  }
  nav {
    letter-spacing: 2px;
  }
  .navbar {
    display: flex;
    margin: 0;

    padding: 30px 70px;
  }
  .number {
    display: none;
  }
  li {
    margin: 0 10px;
  }
  a {
    font-size: 12px;
  }
  #paragraph {
    line-height: 30px;
    padding-right: 230px;
    margin-top: 50px;
    padding-left: 220px;
    /* width: 200px; */
  }
  .explore {
    right: 0;
    margin-top: 100px;
    padding: 80px 50px;
    margin-right: 350px;
    font-size: 20px;

    letter-spacing: 2px;
  }
}

@media (max-width: 375px) {
  body {
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .logo {
    /* margin-right: 200px; */
    position: absolute;
    top: 12px;
    left: 10px;
  }
  .line {
    display: none;
  }
  main {
    display: block;
    position: relative;
    margin: 70px 20px;
    flex-direction: row;

    text-align: center;
  }

  .first-heading {
    font-size: 20px;

    letter-spacing: 1.5px;
  }
  .number {
    display: none;
  }
  .main-heading {
    font-size: 58px;
    margin: 15px 0;
    text-transform: uppercase;
  }

  #paragraph {
    line-height: 1.5;

    animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    width: 350px;
    word-wrap: break-word;
    padding-right: 0px;
    padding-left: 20px;
    /* width: 200px; */
  }
  .explore {
    padding: 50px 25px;
    right: 100px;
    margin-top: 40px;
    margin-right: 20px;
  }
  .logo img {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .navbar {
    position: fixed;
    right: -2680px;
    top: 0;
    flex-direction: column;
    background-color: rgba(166, 166, 166, 0.2);
    backdrop-filter: blur(10px);
    width: 270px;
    height: 100%;
    /*text-align: center;
    */
    transition: ease-in 0.4s;
    z-index: 1000;
    padding: 10px 40px;
    /*box-shadow: 0 10px 27px rgba(249, 22, 22, 0.05);
    */
    -webkit-transition: 0.4s;
    -moz-transition: ease-in 0.4s;
    -ms-transition: ease-in 0.4s;
    -o-transition: ease-in 0.4s;
    -webkit-transition: ease-in 0.4s;
  }

  .navbar.active {
    left: 100px;
  }
  .menuItem {
    margin-top: 40px;
    font-size: 14px;
    transition: ease-in 0.4s;

    animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }
  /* define the animation */

  /**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  .openMenu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .closeMenu {
    position: absolute;
    right: 200px;
    z-index: 1001;
  }
}

/* destination */

.destination {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
}

.destination-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 150px;
  margin-top: -20px;
}

.pick-destination {
  grid-column: 1;
}
.pick-destination h1 {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1.5px;
  top: 0px;
  position: absolute;
}

.destination-content {
  grid-column: 2;
}

.destination-paragraph {
  justify-content: center;
  padding-right: 210px;
  margin: 30px 20px;
  font-family: "Bellefair", serif;
  color: #d0d6f9;
  line-height: 30px;

  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.destination-menu {
  display: flex;
  font-family: "Bellefair", serif;
  padding: 10px;
}
.destination-link {
  padding: 0 20px;
  text-transform: uppercase;
}
.destination-link:first-child {
  padding-left: 0;
}
.destination-content h1 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  text-transform: uppercase;
}
.destination-link:hover::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 30px;
  height: 2px;
  bottom: -7px;
  right: 30px;
}
.destination-data {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  animation: focus-in-expand 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: focus-in-expand 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.line2 {
  position: absolute;
  width: 22em;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
  height: 1px;
  background-color: #d0d6f9;

  opacity: 0.6;
  z-index: 1;
}
.avg h2,
.time h2 {
  color: #d0d6f9;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 40px;
}

.destination-time,
.destination-distance {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 10px;
}

.pick-destination h1 > span {
  color: #9ba2c6;
}

@media (max-width: 768px) {
  .destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .destination-container {
    display: block;

    margin-top: 50px;
  }
  .destination-image {
    width: 250px;
    height: 250px;
    margin-top: 80px;
  }
  .pick-destination {
  }
  .pick-destination h1 {
    letter-spacing: 1px;
    font-size: 22px;
    left: 90px;
    top: 0px;
    position: absolute;
  }
  .destination-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .destination-paragraph {
    padding: 0 200px;
    margin: 10px 20px;

    line-height: 30px;
  }
  .destination-content h1 {
    font-size: 80px;
  }
  .destination-menu {
    padding: 5px;
  }
  .line2 {
    margin-bottom: -190px;
  }
  .destination-time,
  .destination-distance {
    font-size: 16px;
    margin-top: 10px;
  }
  .avg h2,
  .time h2 {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
  }

  .destination-image {
    width: 150px;
    height: 150px;
    margin-top: 40px;
  }
  .pick-destination h1 {
    letter-spacing: 1px;
    font-size: 18px;
    left: 70px;
    top: 0px;
  }
  .destination-content h1 {
    font-size: 40px;
    margin-top: 20px;
  }
  .destination-content {
    margin-top: 30px;
  }

  .destination-paragraph {
    padding: 0 20px;
    margin: 5px 10px;

    line-height: 25px;
  }
  .destination-menu {
    padding: 0px;
  }
  .line2 {
    width: 16em;
    margin-bottom: -130px;
  }
}

/* Crew */

.crew {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
}

.crew-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}
.crew-content {
  position: absolute;
  top: 50px;
  left: 20px;
}
.crew-image {
  margin-top: -500px;

  margin-left: 500px;
}
.crew-picture {
  width: auto;
  height: auto;
}
.crew-role {
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
  color: #a6a6a2;
}
.crew-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  font-size: 65px;
  font-family: "Barlow Condensed", sans-serif;
  animation: focus-in-expand 4.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: focus-in-expand 4.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
.crew-paragraph {
  margin: 30px 0;
  text-align: flex-start;
  line-height: 20px;
  font-family: "Bellefair", serif;
  color: #d0d6f9;
  width: 350px;
  word-wrap: break-word;
  animation: focus-in-expand 3.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: focus-in-expand 3.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.meet-crew {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 160px;
  font-size: 22px;
}
.meet-crew span {
  color: #4d4e4f;
}
.crew-select {
  border: none;
  background-color: #d0d6f94a;
  border-radius: 50%;
  height: 15px;
  width: 13px;
  cursor: pointer;
  margin: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.crew-select:hover {
  background-color: #818cc0;
}
.crew-select:active {
  background-color: #d0d6f9;
}

@media (max-width: 768px) {
  .crew {
    background-image: url(./assets/crew/background-crew-tablet.jpg);
  }

  .crew-container {
    display: block;

    gap: 50px;
  }
  .crew-image {
    margin-top: 0px;

    margin-left: 5px;
  }
  .crew-picture {
    width: 400px;
    height: 600px;
  }
  .crew-content {
    position: absolute;
    top: 0px;
    left: 280px;
  }
  .crew-role {
    letter-spacing: 1.2px;
    font-size: 20px;
    color: #a6a6a2;
    margin-right: 25px;
  }
  .crew-name {
    letter-spacing: 1.2px;
    margin: 5px 0px;
    font-size: 45px;
    margin-right: 25px;
  }
  .crew-selector {
    margin-right: 15px;
  }
  .meet-crew {
    letter-spacing: 1.42px;
    margin-bottom: 8px;
    position: absolute;
    left: -200px;
    top: -40px;
    font-size: 18px;
  }
  .crew-paragraph {
    margin: 10px 0;

    line-height: 18px;

    width: 350px;
    word-wrap: break-word;
  }
}

@media (max-width: 375px) {
  .crew {
    background-image: url(./assets/crew/background-crew-mobile.jpg);
  }
  .overall-container {
    gap: 5px;
  }
  .crew-content {
    top: 0px;
    left: -60px;
  }
  .meet-crew {
    letter-spacing: 6px;
    margin-bottom: 8px;
    position: absolute;
    left: 10px;
    top: -40px;
    font-size: 18px;
  }
  .flip-crew {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -50px;
  }
  .crew-image {
    margin-top: 50px;

    margin-left: 0px;
  }
  .crew-picture {
    width: 200px;
    height: 250px;
  }
  .crew-paragraph {
    margin: 5px 0;

    line-height: 18px;

    width: 250px;
    word-wrap: break-word;
  }
  .crew-name {
    font-size: 25px;
  }
  .crew-role {
    font-size: 15px;
  }
}

/* technology */
.technology-container {
  background-image: url(./assets/technology/background-technology-desktop.jpg);
}
.technology-space {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  letter-spacing: 4.5px;
  left: 1%;
  top: 0px;
  position: absolute;
}
.number {
  color: #4d4e4f;
}
.technology-content {
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  gap: 10px;
}
button {
  padding: 18px 28px;
  margin: 20px 0;
  border: 0.5px solid #d0d6f9;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  font-family: "Bellefair", serif;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.technology-selector button {
  display: block;
}
.technology-selector {
  margin-top: -40px;
}
.terminology {
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  color: #d0d6f9;
  font-size: 12px;
}
.technology-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0;
  font-size: 45px;
  font-family: "Barlow Condensed", sans-serif;
  animation: focus-in-expand 4.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: focus-in-expand 4.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
.technology-paragraph {
  margin: 20px 0;
  text-align: flex-start;
  line-height: 20px;
  font-family: "Bellefair", serif;
  color: #d0d6f9;
  width: 350px;
  word-wrap: break-word;
  animation: focus-in-expand 3.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: focus-in-expand 3.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.technology-image {
  margin-top: -150px;
  margin-left: 40px;
}
